.chat-input {
    display: flex;
    align-items: center;
    width: 845px;
    margin-top: 7px;
    position: absolute;
    left: 580px;
    top: 665px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 15px;
    border-radius: 0.5rem;
    border: none;
    background-color: #E1EEE9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

  }
  
  .chat-input button {
    padding: 2px;
    padding-bottom: 0px;
    /* border-radius: 0.5rem; */
    border: none;
    background-color: #475550;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-display: flex;
    cursor: pointer;
    width: 80px;
    height: 50px;
    margin-left: 0px;
    position: relative;
    left: 33px;
    border-radius: 20px;
  }
  
  .chat-input button:hover {
    background-color: #5d6e68;
  }
  