.chat-bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-end ;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  top: 10px;
}
.chat-bubble-bot{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* margin-bottom: 1rem; */
}
.chat-avatar{
  align-items: flex-end;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 793px;
  top: 20px;
  margin-bottom:-10px;
}
.chat-avatar-bot{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 20px;
  margin-bottom:-10px;
}

.chat-username{
  position: relative;
  left: -63px;
  top: -15px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -4px;
  /* margin-left: 2px; */
}

.chat-username-bot{
  position: relative;
  left: 68px;
  top: -5px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 4px;
  margin-left: 2px;

}

  .chat-content {
    padding: 12px;
    border-radius: 0.2rem;
    max-width: 100%;
    background-color: #E1EEE9;
    margin-bottom: 15px;

  }
  .chat-content-bot{
    padding: 12px;
    border-radius: 0.2rem;
    max-width: 100%;
    background-color: #E1EEE9;
    margin-bottom: 15px;
   
  }
.chat-bubble-bott{
  margin-top: 10px;
}