.chat-input {
    display: flex;
    align-items: center;
    width: 1060px;
    margin-top: 1rem;
    position: relative;
    left: 266px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 20px;
    border-radius: 0.5rem;
    border: none;
    background-color: #E1EEE9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-input button {
    padding: 16px;
    border-radius: 0.5rem;
    border: none;
    background-color: #475550;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    margin-left: 10px;
    position: relative;
    left: 18px;
  }
  
  .chat-input button:hover {
    background-color: #5d6e68;
  }
  