.radioButton{
    position: absolute;
    left: 316px;
    top: 640px;
    font-size: 32px;
    margin-top: 15px;
    display: flex;
}
.radioButton label {
    font-size: 20px;
    font-weight: bold;
    color: #3c4944;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  
.radioButton input {
    margin-right: 1px;
}