.radioButton{
    position: absolute;
    left: 280px;
    top: 638px;
    font-size: 32px;
    margin-top: 15px;
    display: flex;
}
.radioButton label {
    font-size: 24px;
    font-weight: bold;
    color: #E1EEE9;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 20px;

  }
  
.radioButton input {
    margin-right: 1px;
    }